/* Background Image */
body {
    background-image: url("https://www.wallpaperbetter.com/wallpaper/918/35/580/dark-green-lake-2K-wallpaper-middle-size.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Navigation bar */
.topnav {
    background-color: rgb(13, 63, 13);
    overflow: hidden;
    width: 100%;
  }
/* Links within navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 25%;
    text-align: center;
    padding: 0px;
  }

  /* Hover state */
  .topnav a:hover {
    background-color: rgb(71, 134, 100);
    color: white;
  }

  .logo {
      justify-content: center;
      align-content: center;
      text-align: center;
      padding-top: 40px;
  }

  /* info */
.info {
    text-align: center;
    justify-content: center;
    align-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: 5px;
    padding: 20px;
    color: white;

    
}


